.jumbotron {
  background-color: DarkGray;
}
body {
  background-color: LightGray;
}

.jumbotron a {
  color: #111;
}

nav a {
  color: #9b9b9b;
}

.red-title {
  color: #ff0000;
  font-weight: bolder;
}

.red-text-emphasis em {
  color: #ff0000;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}